a.nav-item{
text-decoration: inherit;
color: inherit;
background-color: inherit;
font-size: inherit;
font-family: inherit;
}
/*
.contenido{
    height: 100vh;
}
.padre{
    position: absolute;    
    
    }
    .hijo{
        position: relative;
        left: 3rem;
    }
*/